<div style="text-align: center">
  <br>
  <h1 ><u style="text-decoration: none; border-bottom: 2px solid #3a89b7;">Contact Us</u></h1>
  <br>
</div>


<div class="row" style=" background-color: rgb(234, 236, 238); margin-right: 0px">
  <div class="col-sm-6" style=" border-right: 1px rgb(212, 213, 216) solid" >
      <div class="example-container ">
          <mat-form-field>
            <input matInput placeholder="Email">
          </mat-form-field>
        
          <mat-form-field>
            <textarea matInput placeholder="Queries"></textarea>
          </mat-form-field>  
          
        </div>
        <button mat-raised-button color="warn" style="margin-left: 55px">Submit</button>
        <br><br>
  </div>
  <div class="col-sm-6" style="text-align: center">
      <p style="margin-top: 70px">1600 Amphitheatre Parkway, Mountain View <span><br></span>
      CA 94043, USA<span><br></span>
      +977-9875843453, 01-09842348<span><br></span>
      sekkhuholidays@mail.com</p>
  </div>
  
</div>



<!-- <div id="feedback">
  <div id="feedback-form" style='' class="col-xs-4 col-md-4 panel panel-default">
    <br>
    <form  class="form panel-body" role="form">
      <div class="form-group">
        <input class="form-control" name="email" autofocus placeholder="Your e-mail" type="email" />
      </div>
      <div class="form-group">
        <textarea class="form-control" name="body" required placeholder="Please write your queries here..." rows="5"></textarea>
      </div>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </form>
  </div>
</div> -->
