<div class="topBar">
<mat-toolbar color="">
    <mat-icon [matMenuTriggerFor]="menu" >menu</mat-icon>&nbsp;
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        Packages
      </button>
      <button mat-menu-item>
        Policies
      </button>
    </mat-menu>
    <div class=" example-icon-media">
      <i class="fa fa-facebook-f" style="font-size:20px"></i> 
    </div>
    <div class=" example-icon-media">
      <i class="fa fa-twitter" style="font-size:20px"></i>
    </div>
    <div class=" example-icon-media">
      <i class="fa fa-youtube-play" style="font-size:20px"></i>
    </div>

    <div class=" example-icon-home">
      <span style="font-family: Brush Script MT, Brush Script Std, cursive; font-size:32px">Sekkhu Holidays</span>
    </div>

    <span class="example-spacer"></span>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">info</mat-icon>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">account_circle</mat-icon>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">settings</mat-icon>
</mat-toolbar>
</div>