<div style="text-align: center">
  <br>
  <h1 ><u style="text-decoration: none; border-bottom: 2px solid #3a89b7;">About Us</u></h1>
  <br>
</div>
<div class="row" style="width: 100%; background-color: rgb(234, 236, 238); margin-left: 0px">
  <div class="col-sm-4" style="text-align: center; border-right: 1px rgb(212, 213, 216) solid" >
    <br>
    <img src="../../assets/images/images.jpg" alt="..">
    <br><br>
    <p>Ryan Coltrane<span><br></span>Chairman<span><br></span> Sekkhu Holiday Services Pvt Ltd </p>
  </div>
  <div class="col-sm-8" style="text-align: center">
      <br><br>
    <h3><span><br></span><i>"Service is Satisfaction."</i></h3>
    
    <p>We as a company are active since 1999 to provide holiday solution all over the world. Satisfying over 2000 customers with range of options, it has been an thankful journey. We hope to continue what we are best at and that is make your holiday worth it.</p>
  </div>
  
</div>
