<div style="text-align: center">
  <br>
  <h1 ><u style="text-decoration: none; border-bottom: 2px solid #3a89b7;">Top Deals</u></h1>
  <br>
</div>
<owl-carousel-o [options]="customOptions">
<ng-template carouselSlide>
    <div class="jumbotron" style=" padding: 10px 10px 10px 10px; margin-left: 5px; margin-right: 5px; border: 2px solid rgb(234, 236, 238); border-radius: 5%">
      <img src="../../assets/images/hike.jpg" class="" alt="...">
      <hr class="my-4">
      <h3 style="text-align: center">Amazon</h3>
      <p style="text-align: center"> A place of enchantment and represent the splendor is nothing but a rainforest.</p>
      <h1> &nbsp;&nbsp;&nbsp;<ins  style="text-decoration: none">$999</ins> <span> &nbsp;</span><del >$1299</del> </h1>
      <div class="row">
        <div class="col-sm-6">
          <button mat-raised-button color="" style="display: flex; justify-content: center">More Info</button>
        </div>
        <div class="col-sm-6">
          <button mat-raised-button color="" style="display: flex; justify-content: center">
            <mat-icon>shopping_cart</mat-icon>
          </button>
        </div>
      </div>
    </div>
</ng-template>  
<ng-template carouselSlide>
    <div class="jumbotron" style=" padding: 10px 10px 10px 10px; margin-left: 5px; margin-right: 5px; border: 2px solid rgb(234, 236, 238); border-radius: 5%">
      <img src="../../assets/images/everest.jpg" class="" alt="...">
      <hr class="my-4">
      <h3 style="text-align: center">Everest</h3>
      <p style="text-align: center">Expereince the height at least once in a lifetime.</p>
      <h1> &nbsp;&nbsp;&nbsp;<ins  style="text-decoration: none">$999</ins> <span> &nbsp;</span><del >$1299</del> </h1>
      <div class="row">
        <div class="col-sm-6">
          <button mat-raised-button color="" style="display: flex; justify-content: center">More Info</button>
        </div>
        <div class="col-sm-6">
          <button mat-raised-button color="" style="display: flex; justify-content: center">
            <mat-icon>shopping_cart</mat-icon>
          </button>
        </div>
      </div>
    </div>    
</ng-template>  
<ng-template carouselSlide>
    <div class="jumbotron" style=" padding: 10px 10px 10px 10px; margin-left: 5px; margin-right: 5px; border: 2px solid rgb(234, 236, 238); border-radius: 5%">
      <img src="../../assets/images/desert.jpg" class="" alt="...">
      <hr class="my-4">
      <h3 style="text-align: center">Sahara</h3>
      <p style="text-align: center">Much more than a desert: A trip into the Sahara.</p>
      <h1> &nbsp;&nbsp;&nbsp;<ins  style="text-decoration: none">$999</ins> <span> &nbsp;</span><del >$1299</del> </h1>
      <div class="row">
        <div class="col-sm-6">
          <button mat-raised-button color="" style="display: flex; justify-content: center">More Info</button>
        </div>
        <div class="col-sm-6">
          <button mat-raised-button color="" style="display: flex; justify-content: center">
            <mat-icon>shopping_cart</mat-icon>
          </button>
        </div>
      </div>
    </div>
</ng-template>  
<ng-template carouselSlide>
    <div class="jumbotron" style=" padding: 10px 10px 10px 10px; margin-left: 5px; margin-right: 5px; border: 2px solid rgb(234, 236, 238); border-radius: 5%">
      <img src="../../assets/images/maldives.jpg" class="" alt="...">
      <hr class="my-4">
      <h3 style="text-align: center">Maldives</h3>
      <p style="text-align: center">Islands, Beaches all comes naturally. Add sun to that!</p>
      <h1> &nbsp;&nbsp;&nbsp;<ins  style="text-decoration: none">$999</ins> <span> &nbsp;</span><del >$1299</del> </h1>
      <div class="row">
        <div class="col-sm-6">
          <button mat-raised-button color="" style="display: flex; justify-content: center">More Info</button>
        </div>
        <div class="col-sm-6">
          <button mat-raised-button color="" style="display: flex; justify-content: center">
            <mat-icon>shopping_cart</mat-icon>
          </button>
        </div>
      </div>
    </div>
</ng-template>  
<ng-template carouselSlide>
    <div class="jumbotron" style=" padding: 10px 10px 10px 10px; margin-left: 5px; margin-right: 5px; border: 2px solid rgb(234, 236, 238); border-radius: 5%">
      <img src="../../assets/images/taj.jpg" class="" alt="...">
      <hr class="my-4">
      <h3 style="text-align: center">Agra</h3>
      <p style="text-align: center">Pride of India. Its nothing like taking a good look at this.</p>
      <h1> &nbsp;&nbsp;&nbsp;<ins  style="text-decoration: none">$999</ins> <span> &nbsp;</span><del >$1299</del> </h1>
      <div class="row">
        <div class="col-sm-6">
          <button mat-raised-button color="" style="display: flex; justify-content: center">More Info</button>
        </div>
        <div class="col-sm-6">
          <button mat-raised-button color="" style="display: flex; justify-content: center">
            <mat-icon>shopping_cart</mat-icon>
          </button>
        </div>
      </div>
    </div>
</ng-template>  
</owl-carousel-o>